extends layout

block content
  .main.container
      form(method='POST' action='/login')
             div.form-group
                        label(for='email') email:
                        input#email.form-control(type='email', placeholder='name@email.com' name='email')
                      
                      div.form-group
                        label(for='pw') password:
                        input#pw.form-control(type='password' name='password')
                      
                      button.btn.btn-primary(type='submit') login